.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-gap: 1.25rem;
  margin: 1.25rem 0;
}

main {
  margin-top: 1.25rem;
}
main section {
  margin-bottom: 1.25rem;
}

.navbar {
  background-color: #333;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .nav-link {
  color: #fff;
}
.navbar .nav-link:hover {
  color: green;
}

footer {
  background: #333;
  color: #fff;
  padding: 1.25rem 0;
  text-align: center;
}

.btn {
  background-color: green;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
}
.btn:hover {
  background-color: #004d00;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../assets/header.jpg) no-repeat center center;
  background-size: cover;
  height: 12.5rem;
  color: #fff;
}
header h1 {
  font-size: 2.5em;
}