.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-item{
    flex: 1;
    margin: 15px;
}

.service-text {
    margin-top: 15px; /* ajusta según sea necesario */
    text-align: center; /* para centrar el texto */
}

.service-image {
    width: 100%;
    height: 500px; /* o el tamaño que prefieras */
    object-fit: cover;
}