body {
    font-family: arial, sans-serif;
    background-color: lightgray;
}

header {
    background: url(./assets/header.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 2.5em;
}

ul li span {
    color: green; /* Color del icono de verificación */
    display: inline-block;
    width: 20px;
}


p {
    font-size: 1em;
    line-height: 1.5;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}


h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 15px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mb-3 {
    width: 12.5rem;
    height: 18.75rem;
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.fa-envelope,
.fa-phone,
.fa-map-marker-alt {
    margin-right: 10px;
}

